<h1>{{title}}</h1>
<form action="/" method="post">
    <div class="form-group">
        <input type="text" class="form-control" name="input" placeholder="Enter GitHub Username" value="{{username}}">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<h2>{{message}}</h2>